<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ampersand AV</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="~/css/styles.css">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;900&family=Space+Mono&display=swap" rel="stylesheet">

</head>
<body>

    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>

    <div class="container">

        <!--Navegacion-->
        <nav class="nav-main">
            <img src="~/img/logo.png" alt="Ampersand Logo" class="nav-brand">
            <ul class="nav-menu show">
                <li>
                    <a href="#">Stores</a>
                </li>

                <li>
                    <a href="#">Blog</a>
                </li>

                <li>
                    <a href="#">Trends</a>
                </li>

                <li>
                    <a href="#">Outfits</a>
                </li>

                <li>
                    <a href="#">FAQs</a>
                </li>

                <li>
                    <a href="#">About Us</a>
                </li>

            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>



        </nav>
        <hr>

      @RenderBody()

    </div>

    <div class="footer-links">
        <div class="footer-container">
            <ul>
                <li>
                    <h3>Shop and Enjoy</h3>
                </li>
                <li>
                    <a href="#">Sweaters</a>
                </li>
                <li>
                    <a href="#">Jeans</a>
                </li>
                <li>
                    <a href="#">Tops</a>
                </li>
                <li>
                    <a href="#">Bottoms</a>
                </li>
                <li>
                    <a href="#">Accesories</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Ampersand AV Store</h3>
                </li>
                <li>
                    <a href="#">Find a store</a>
                </li>
                <li>
                    <a href="#">Shop online</a>
                </li>
                <li>
                    <a href="#">Order status</a>
                </li>
                <li>
                    <a href="#">Clearance</a>
                </li>
                <li>
                    <a href="#">Shopping help</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Ampersand AV Values</h3>
                </li>
                <li>
                    <a href="#">Inclusion and Diversity</a>
                </li>
                <li>
                    <a href="#">Creativity</a>
                </li>
                <li>
                    <a href="#">Supplier Responsability</a>
                </li>
                <li>
                    <a href="#">Accessibility</a>
                </li>
                <li>
                    <a href="#">Enviroment</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>About Ampersand AV</h3>
                </li>
                <li>
                    <a href="#">Newsroom</a>
                </li>
                <li>
                    <a href="#">Seasons</a>
                </li>
                <li>
                    <a href="#">Job Opportunities</a>
                </li>
                <li>
                    <a href="#">Franchise</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <h3>
            Ampersand AV ©
        </h3>
    </footer>

    <script src="~/js/script.js"></script>

</body>
</html>