@inject BlogDeCafe.Services.CategoriasService CatService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ampersand AV</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="icon" href="~/img/favicon.png">
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;900&family=Space+Mono&display=swap" rel="stylesheet">

</head>
<body>

    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>

    <div class="container">

        <!--Navegacion-->
        <nav class="nav-main">
            <a href="~/Home">
                <img src="~/img/Logo sin fondo grande.png" alt="Ampersand Logo" class="nav-brand">

            </a>
            <ul class="nav-menu show">
                @foreach (var item in CatService.GetAll().ToList())
                {
                    <li>
                        <a href="~/Home/@(item.Nombre)">@(item.Nombre)</a>
                    </li>
                }


            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
            </ul>



        </nav>
        <hr>

        @RenderBody()

        <section class="social">
            <p>Siguenos Dolce Gusto</p>
            <div class="links">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </section>


    </div>

    <div class="footer-links">
        <div class="footer-container">
            <ul>
                <li>
                    <h3>Compra y disfruta</h3>
                </li>
                <li>
                    <a href="#">Granos</a>
                </li>
                <li>
                    <a href="#">Cafeteras</a>
                </li>
                <li>
                    <a href="#">Filtros</a>
                </li>
                <li>
                    <a href="#">Escenciales</a>
                </li>
                <li>
                    <a href="#">Accesorios</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Dolce Gusto tiendas</h3>
                </li>
                <li>
                    <a href="#">Encuentra una tienda</a>
                </li>
                <li>
                    <a href="#">Compra en linea</a>
                </li>
                <li>
                    <a href="#">Estatus de orden</a>
                </li>
                <li>
                    <a href="#">Clearance</a>
                </li>
                <li>
                    <a href="#">Ayuda con compras</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Dolce Gusto valores</h3>
                </li>
                <li>
                    <a href="#">Inclusion and Diversity</a>
                </li>
                <li>
                    <a href="#">Creativity</a>
                </li>
                <li>
                    <a href="#">Supplier Responsability</a>
                </li>
                <li>
                    <a href="#">Accessibility</a>
                </li>
                <li>
                    <a href="#">Enviroment</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>About Ampersand AV</h3>
                </li>
                <li>
                    <a href="#">Newsroom</a>
                </li>
                <li>
                    <a href="#">Seasons</a>
                </li>
                <li>
                    <a href="#">Job Opportunities</a>
                </li>
                <li>
                    <a href="#">Franchise</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="footer">
        <h3>
            Dolce Gusto ©
        </h3>
    </footer>

    <script src="~/js/script.js"></script>

</body>
</html>